@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("../../fonts/Montserrat-Italic.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat Bold Italic";
    src: url("../../fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
    font-family: "PT Serif";
    src: url("../../fonts/PT_Serif-Web-Regular.ttf");
}

@font-face {
    font-family: "PT Serif Italic";
    src: url("../../fonts/PT_Serif-Web-Italic.ttf");
}

@font-face {
    font-family: "PT Serif Bold";
    src: url("../../fonts/PT_Serif-Web-Bold.ttf");
}

@font-face {
    font-family: "PT Serif Bold Italic";
    src: url("../../fonts/PT_Serif-Web-BoldItalic.ttf");
}
