.sign__btn {
    @extend %btn;
    color: $base-white;
    border: 2px solid $sign-btn-stroke;
    font-size: $tiny-font-size;
    font-family: $alt-font-family-bold;
    padding-left: 2.66vw;
    padding-right: 3vw;
    text-decoration: none;
    line-height: 1.4;

    a {
        @include anime();
        text-decoration: none;
        color: $base-white;
    }

    &:hover {
        border: 2px solid $header-bg;
        background: #b8c6c7;
        color: $header-bg;
        @include anime();

        a {
            @include anime();
            color: $header-bg;
        }
    }
}

.article-header-bottom__btn {
    @extend %btn;
    @include anime();
    color: $header-magazine;
    border: 1px solid $header-magazine;;
    font-family: $base-font-family-italic;
    font-size: $small-font-size;
    line-height: 1.2;
    letter-spacing: 0;

    i {
        margin-left: 1vw;
    }

    &:hover {
        @include anime();
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
        background: #b8c6c7;
        color: #222325;
    }
}

.carousel__btn {
    font-size: 3.5vw;
    background: none;
    border-radius: 50%;
    border: 1px solid $socials;
    padding: .8vw 1.4vw;
    color: $base-white;
    -webkit-text-stroke: 2px $header-bg;
    cursor: pointer;

    &:focus {
        outline: 0;
    }

    &:active {
        box-shadow: inset 0 0 30px $socials;
    }
}

.carousel-card__closebtn {
    border: none;
    background: none;
    font-size: 1.33vmax;
    font-weight: bold;
    color: #838d8f;
    cursor: pointer;

    &:focus {
        outline: 0;
    }
}

.tweeter-btn, .facebook-btn, .likes-btn {
    @extend %btn;
    @include anime();

    &:hover {
        @include anime();
    }

    border: none;
    letter-spacing: 0.2em;
    font-size: $tiny-font-size;
    font-family: $alt-font-family-bold;
    line-height: 1.2;
    color: $base-white;

    i {
        margin-right: 2vw;
    }
}

.likes-btn {
    border: 1px solid $mpopular-btn-stroke;
    color: $likes-btn-text;

    i {
        color: $socials;
    }

    span {
        color: $base-white;
        background: $socials;
        border-radius: .5vw;
        padding: .2vw .2vw .2vw 0.35vw;
        margin-left: 1.2vw;
    }

    &:hover {
        box-shadow: 0 2px 2px 0 #e7e7e7;
    }

    &.active {
        i {
            color: $heart-color;
        }

        .new-comments {
            background-color: $heart-color;
            color: $base-white;
        }
    }
}

.tweeter-btn {
    background-color: $tweet-bg;
    padding-right: 3.66vw;

    &:hover {
        box-shadow: 0 0 2px 0 #0099d7;
        background: #0099d7;
    }
}

.facebook-btn {
    background-color: $share-bg;
    padding-right: 3.66vw;

    &:hover {
        box-shadow: 0 0 2px 0 #215fa2;
        background: #215fa2;
    }
}

.subscribe__btn {
    @extend %btn;
    padding: 1.5vw;
    border: none;
    font-family: $alt-font-family-bold;
    font-size: $small-font-size;
    background: $header-bg;
    color: $base-white;
    border-radius: 0.25vw;
    //height: 3.75vw;
    &:hover {
        @include anime();
        background: #161718;
        box-shadow: 1px 5px 5px 0 rgba(22, 23, 24, 0.75);
    }
}

.card-back__btn {
    text-decoration: none;
    font-family: $alt-font-family;
    font-size: $small-font-size;
}

.card-back__btn_theme_isnature {
    @extend %btn;
    @extend .card-back__btn;
    border: 1px solid $btn-nature-stroke;
    color: $base-white;

    &:hover {
        @include anime();
        background: $btn-nature-hover;
        box-shadow: 1px 5px 5px 0 $btn-nature-shadow;
    }
}

.card-back__btn_theme_isexplorers {
    @extend %btn;
    @extend .card-back__btn;
    border: 1px solid $btn-stroke-explorers;
    color: $base-white;

    &:hover {
        @include anime();
        background: $btn-explorers-hover;
        box-shadow: 1px 5px 5px 0 $btn-explorers-shadow;
    }
}

.card-back__btn_theme_isadvices {
    @extend %btn;
    @extend .card-back__btn;
    border: 1px solid $btn-advices-stroke;
    color: $base-white;

    &:hover {
        @include anime();
        background: $btn-advices-hover;
        box-shadow: 1px 5px 5px 0 $btn-advices-shadow;
    }
}

.card-back__btn_theme_isscience {
    @extend %btn;
    @extend .card-back__btn;
    border: 1px solid $btn-science-stroke;
    color: $base-white;

    &:hover {
        @include anime();
        background: $btn-science-hover;
        box-shadow: 1px 5px 5px 0 $btn-science-shadow;
    }
}

.card-back__btn_theme_istravel {
    @extend %btn;
    @extend .card-back__btn;
    border: 1px solid $btn-travel-stroke;
    color: $base-white;

    &:hover {
        @include anime();
        background: $btn-travel-hover;
        box-shadow: 1px 5px 5px 0 $btn-travel-shadow;
    }
}

.card-watch-photo__btn {
    @extend %btn;
    text-decoration: none;
    font-family: $alt-font-family-bold;
    font-size: $tiny-font-size;
    border: 1px solid $mpopular-btn-stroke;
    color: $mpopular-btn-text;
    padding: .75vw 1.5vw .75vw 0;
    width: 15vw;

    &:hover {
        @include anime();
        box-shadow: 1px 5px 5px 0 rgb(185, 185, 185);
    }
}

.reply-submit__btn {
    @extend .card-watch-photo__btn;
    padding: 1.08vw 0 1.08vw 0;
    width: 13vw;

    &:hover {
        box-shadow: 0px 2px 2px 0 #e7e7e7;
    }
}


.form-register__btn {
    @extend %btn;
    @include anime();

    border: none;
    letter-spacing: 0.2em;
    font-size: $tiny-font-size;
    font-family: $alt-font-family-bold;
    line-height: 1.2;
    color: $base-white;
    display: block;


    background: $space-cadet;
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    position: relative;
    left: 0;
    cursor: pointer;
    padding: 0;
    margin-top: 3vh;


    &:hover {
        @include anime();
        background: $dark-gun-metal;
    }

    &:disabled {
        background: #0F0D19;
        cursor: not-allowed;
    }
}

.register-form__btn_submit {
    @extend %btn;
    @include anime();

    background: $register-form-header;
    border: none;
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    display: block;
    color: $base-white;
    position: relative;
    left: 0;
    cursor: pointer;
    padding: 0;
    margin-top: 3vh;
    font-family: $alt-font-family;


    &:hover {
        @include anime();
        background: $register-form-header-dark;
    }

    &:disabled {
        cursor: not-allowed;
        background: $register-form-header-disabled;
    }
}

.register-form-footer__btn {
    @extend %btn;
    @include anime();

    display: inline-block;
    height: 3.2vh;
    left: 0;
    background: #225b99;
    border: none;
    border-radius: .1vw;
    cursor: pointer;
    color: whitesmoke;
    padding: 0.2vh 0.6vw;

    &:hover {
        @include anime();
        background: #1a4878;
    }

    &:disabled {
        @include anime();
        cursor: not-allowed;
        background: #133559;
    }
}

.load-more__btn {
    @extend %btn;
    @include anime();

    &:hover {
        @include anime();
        box-shadow: 0 0 5px #cbcbcb;
        background-color: $load-more-btn-text;
        color: $text-black;
    }

    width: 100%;
    margin-top: 4vw;
    border: none;
    background: $header-magazine;
    height: 3.83vw;
    border-radius: 0.33vw;
    color: $base-white;
    font-size: 1.25vw;
    line-height: 1.2;
    font-family: $alt-font-family-bold;
    cursor: pointer;
}
