.aside-nav {
    font-family: $alt-font-family-bold;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgba(7, 7, 8, 0.95);
    overflow-x: hidden;
    @include anime();
    a {
        padding: 0.6vmax;
        text-decoration: none;
        font-size: $big-font-size;
        color: $aside-text;
        display: block;
        @include anime();
        &:hover {
            color: $aside-text-hover;
        }
        &:focus {
            color: $aside-text-hover;
        }
    }
    .aside-nav__close {
        position: absolute;
        top: 1.66vw;
        right: 3.75vw;
        font-size: 5vmax;
    }
}

.aside-active {
    width: 100%;
}

.aside-nav__content {
    position: relative;
    @include flex();
    flex-direction: column;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 2.5vmax;
}

.aside-nav__search {
    position: relative;
    @include flex();
    justify-content: center;
    top: 40%;
    width: 100%;
    margin-top: 2.5vmax;
    input {
        border: none;
        background-color: rgba(7, 7, 8, 0);
        width: 66.6vw;
        height: 5vw;
        color: $aside-text;
        font-size: $big-font-size;
        border-bottom: 2px solid $aside-text;
        outline: none;
        &:focus {
            color: $aside-text-hover;
            border-bottom: 2px solid $aside-text-hover;
        }
    }
    button {
        border: none;
        background: none;
        cursor: pointer;
        i {
            font-size: 3.33vw;
            color: $aside-text;
        }
        &:hover {
            i {
                color: $aside-text-hover;
            }
        }
    }
}
